.container{
    background-color: blue;
    overflow: hidden;
}
.blog{
    width: 30%;
    height: 300px;
    float: left;
    border: 5px solid black;
}
h1{
    text-align: center;
}
.pseudo{
    display: block;
    color: goldenrod;
}
.pseudo:hover{
    color: purple;
}